{% extends "base.html" %}

{% load bootstrap4 %}

{% block content %}

        {% if validlink %}
        <p>Please enter (and confirm) your new password.</p>

        <form action="" method="post">

        {% csrf_token %}
        {% bootstrap_form form %}
        <input type="submit"  class="boxed-btn3 w-100" value="Change my password">

        {% else %}
        <h1 style="margin:auto; margin-top:40px; color:red;">Password reset failed</h1>
        <p style="margin-left:180px; color:green;">The password reset link was invalid, possibly because it has already been used. Please request a new password reset.</p>

        {% endif %}
        </form>

{% endblock %}

